# gradle
.gradle/
build/
out/
classes/

# idea
.idea/
*.iml
*.ipr
*.iws

# eclipse / vscode
.settings/
.classpath
.project
bin/
.vscode/

# fabric
run/

# macos
.DS_Store

# python
__pycache__/
*.pyc
